.board-row {
    height: calc(100vh / 6);
}

.fit-text-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.category-col {
    line-height: 3em;

    color: black;
    border-width: 0.2em;
    border-style: solid;
    border-bottom-width: 0.4em;
}

.category-text {
    color: white;
    text-shadow: 0.1em 0.1em #000;
}

.price-col {
    vertical-align: middle;
    color: black;
    border-width: 0.2em;
    border-style: solid;
}

.dollar-sign-text {
    font-size: 0.8em;
    display: inline-block;
    vertical-align: middle;

    padding-bottom: 0.15em;
    padding-right: 0.05em;
}

.price-text {
    color: #d69f4c;
    text-shadow: 0.08em 0.08em #000;
}

.category-text {
    font-family: board, serif;
}

.price-text {
    font-family: board, serif;
    color: #d69f4c;
}
