.answer-row {
    height: 80vh;
}

.mini-clue-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.mini-clue {
    margin-left: calc(25% / 2);
    height: 75%;
    width: 75%;
    border: 0.3em solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 5em !important;
    padding-right: 5em !important;
    font-weight: bold;
    font-family: clue, serif;
    text-shadow: 0.35em 0.35em #000;
    background-image: url("../assets/images/background2.jpeg");
}

.livefeed-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.player-name-text {
    font-size: 5vh;
    font-family: clue, serif;
    text-shadow: 0.15em 0.15em #000;
}

.livefeed {
    margin-left: calc(20% / 2);
    height: 25%;
    width: 80%;
    border: 0.3em solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-family: clue, serif;
    text-shadow: 0.35em 0.35em #000;
}

.timer-row {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
