.player-card-row {
    height: 25vh;
    padding: 10px;

    transition-property: transform;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.player-card-col {
    border: 2px solid black;
}
