.clue-row {
    height: 80vh;
}

.clue-col {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;

    padding-left: 10em !important;
    padding-right: 10em !important;

    font-weight: bold;
    font-family: clue, serif;
    text-shadow: 0.35em 0.35em #000;
}

.timer-row {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
